<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private ? 'Yes' : 'No' %></dd>

  <dt>Followers</dt>
  <dd>
    <%= FollowRequest.where(recipient_id: @the_user.id, status: 'accepted').count %>

    <% # Check if the current user is following the profile user, then display the unfollow link %>
    <% if FollowRequest.exists?(sender_id: @current_user.id, recipient_id: @the_user.id, status: 'accepted') %>
      <div>
        <a href="/delete_follow_request/<%= @the_user.id %>">Unfollow</a>
      </div>
    <% else %>
      <div>
        <a href="/follow_user/<%= @the_user.id %>">Follow</a>
      </div>
    <% end %>
  </dd>

  <dt>Following</dt>
  <dd><%= FollowRequest.where(sender_id: @the_user.id, status: 'accepted').count %></dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @the_user.photos.count %>)</h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
    <tr>
      <td>
        <img src="<%= a_photo.image %>" alt="Image for <%= a_photo.caption %>" width="100">
      </td>
      <td>
        <%= a_photo.owner.username %>
      </td>
      <td>
        <%= a_photo.caption %>
      </td>
      <td>
        <%= time_ago_in_words(a_photo.created_at) %> ago
      </td>
      <td>
        <%= a_photo.likes_count %>
      </td>
      <td>
        <a href="/photos/<%= a_photo.id %>">Show details</a>
      </td>
    </tr>
  <% end %>
</table>
